@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Raleway", sans-serif;
}

.navbar{
    background: #333333;
    display: flex;
    flex-flow: row wrap;
    height: 80px;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
    /* position: fixed; */
}

.logo{
    flex: 20%;
    margin-left: 10%;
    text-align: left;
}

.logo h1{
    
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 34px;
}

.menu{
    flex: 50%;
    text-align: right;
    padding: 20px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 16px;
}

.menu a:hover{
    color: #2196f3;
    border-top: 2px solid #dfeff5;
}

#btn-contato{
    background: #ff6200;
    border-radius: 10px;
    margin-right: 10%;
    margin-left: 20%;
}

#btn-contato:hover{
    border: none;
    background: #2196f3;
    color: white;
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #009cde;    
    padding-top: 100px;
}

.headline{
    margin-left: 10%;
    flex: 30%;
}

.headline h2{
    font-weight: 900;
    font-size: 20px;
    color: white;
    padding: 0;
    margin: 0;
}

.btn-contratar{
    display: inline-block;
    background: #ff6200;
    border-radius: 10px;
    padding: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 200px;
    margin-bottom: 50px;
}

.btn-contratar:hover{
    background: #333333;
    color: white;
}

.img-headline{
    margin-right: 10%;
    flex: 50%;
    text-align: end;
    margin-bottom: 50px;
}

section{
    display: inline-block;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.servicos{
    width: 100%;
}

.card{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 5% auto;
    background: #f4f4f4;
    border-radius: 10px;
    padding: 10px;
}

.card p, .card h3{
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    font-family: "Oswald", sans-serif;
}

.img-servicos{
    flex: 0 0 auto;
    margin-right: 10px;
    margin-left: 40px;
}

.text-container {
    display: flex;
    flex-direction: column;
}